<h1>"Spotify"</h1>


<h1>Artistas</h1>


<table>
  <% @artists.each do |artist| %>
      <td>
        <tr><%= link_to artist.name, artist_path(artist) %></tr><br>
        <tr><img src="<%= artist.image_url %>"></tr><br><br>
      </tr>
    <% end %>
  </tbody>
</table>
