<h1>Albumes de <%= @artist.name %></h1>



<table border="1px">
<% @artist.albums.each do |album| %>
  <tr>Name: <%= album.name %></tr><br>
  <tr>Released:  <%= album.released_at %></tr><br>
  <tr><img src="<%= album.image_url %>"></tr><br><br>
<% end %>
</table>
